:root {
  --m-96: 96px;
  --m-88: 88px;
  --m-80: 80px;
  --m-72: 72px;
  --m-64: 64px;
  --m-56: 56px;
  --m-48: 48px;
  --m-40: 40px;
  --m-32: 32px;
  --m-24: 24px;
  --m-16: 16px;
  --m-8: 8px;
  --m-4: 4px;
}
