<section class="hero">
  <div class="hero__content">
    <p class="hero__eyebrow">Hola! soy Romina,</p>
    <h1 class="hero__title">
      Desarrolladora Frontend
      <span>y diseñadora UI</span>
    </h1>
    <div class="hero__info">
      <p>+5 años desarrollando productos desafiantes con Angular.</p>
      <p>+2 años realizando interfaces en Figma.</p>
    </div>
    <a class="hero__button" href="#about">
      <rm-button [config]="buttonLearnMore"></rm-button>
    </a>
  </div>
</section>
